a:hover { /* for links in navbar */
    color: #E3A71B;
}

.selected { /*  */
    background-color: #C5D4D9;
}

.selected:hover { /*  */
    background-color: #D0DCE0;
}

.cloud {
    overflow: hidden;
}

.desc {
    clear: both;
    padding-top: 10px;
    font-size: 15px;
}

.thumbnail { /* for thumbnails of photos used to reconstruct past point cloud */
    float: left;
    width: 100px;
    opacity: 0.5;
}

.thumbnail.on { /* for thumbnails of photos used to reconstruct past point clouds, when parent div has been clicked on */
    float: left;
    width: 100px;
    opacity: 1;
}

.dropbox { /* for dropbox when nothing is being dragged inside */
    position: relative;
    border: 2px dotted #414542;
    width: 100%;
    height: 200px;
    color: #92AAB0;
    margin-bottom: 10px;
    font-size: 150%;
    font-weight: bold;
}

.dropbox.on { /* for dropbox when something is being dragged inside */
    position: relative;
    border: 2px dotted #356585;
    width: 100%;
    height: 200px;
    color: black;
    background-color: #C5D4D9;
    margin-bottom: 10px;
    font-size: 150%;
    font-weight: bold;
}

.text { /* for text inside dropbox */
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2em;
    margin-top: -1em;
    margin-left: -3em;
    text-align: center;
}

#preview { /*  */
    clear: both;
    width: 100%;
    margin-bottom: 50px;
}

.preview { /* for preview images that can be selected */
    float: left;
    width: 200px;
    opacity: 0.5;
    margin: 0 10 30 0;
}

.checked { /*  */
    float: left;
    width: 200px;
    margin: 0 10 30 0;
    opacity: 1;
}

.visualize { /*  */
    clear: both;
    margin-bottom: 30px;
}

h2:hover { /* for headings */
    color: #103F7D;
}

#field { /* for input field where user chooses a name for the cloud */
    float: left;
    width: 300px;
    height: 30px;
    font-size: 15px;
}

input { /* for input fields on register and login pages */
    width: 300px;
    height: 30px;
    font-size: 15px;
}

.loadbtn { /* for button to load previous point cloud */
    float: left;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    background: #707980;
    color: white;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 15px;
}

.on { /* for start and load buttons when clickable */
    float: left;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    background: #294C7D;
    color: white;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 15px;
}

.startbtn { /* for button to start reconstruction */
    float: left;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    background: #294C7D;
    color: white;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 15px;
}

#empty { /*  */
    clear: both;
    height: 10px;
}

canvas { /* for ThreeJS viewer */
    background-color: #292825;
}