#dragAndDropHandler {
    border: 2px dotted #46484A;
    width: 100%;
    height: 200px;
    color: #92AAB0;
    text-align: center;
    vertical-align: middle;
    padding: 10px 10px 10 10px;
    margin-bottom: 10px;
    font-size: 100%;
}

.dragAndDrop_off {
    border: 2px dotted #2E2C30;
    width: 400px;
    height: 400px;
    color: #92AAB0;
    text-align: left;
    vertical-align: middle;
    padding: 10px 10px 10 10px;
    margin-bottom: 10px;
    font-size: 200%;
}

.dragAndDrop_on {
    border: 2px solid #3998B3;
}

.thumbnail {
    float: left;
    resize: both;
    width: 200px;
    height: 150px;
}

.progressBar {
    width: 200px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    margin: 0px 10px 5px 5px;
    vertical-align: top;
}

.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px;
    width: 0;
    background-color: #0ba1b5;
    border-radius: 3px;
}

.statusBar {
    border-top: 1px solid #A9CCD1;
    min-height: 25px;
    width: 700px;
    padding: 10px 10px 10px 10px;
    vertical-align: top;
}

.statusBar:nth-child(odd) {
    background: #EBEFF0;
}

.filename {
    display: inline-block;
    vertical-align: top;
    width: 250px;
}

.filesize {
    display: inline-block;
    vertical-align: top;
    color: #30693D;
    width: 100px;
    margin-left: 10px;
    margin-right: 5px;
}

.abort {
    background-color: #A8352F;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display:inline-block;
    color: #fff;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    padding: 4px 15px;
    cursor: pointer;
    vertical-align: top;
}
