.navbar>li>a:hover {
    color: #E3A71B;
}

.cloud {
    clear: both;
    width: 200px;
    opacity: 0.5;
}

a {
    color: #103F7D;
    font-size: 100%
}

.photo {
    float: left;
    width: 100px;
}

.dropbox {
    position: relative;
    border: 2px dotted #414542;
    height: 200px;
    color: #92AAB0;
    margin-bottom: 10px;
    font-size: 150%;
    font-weight: bold;
}

.dropbox.on {
    position: relative;
    border: 2px dotted #356585;
    height: 200px;
    color: black;
    background-color: #C5D4D9;
    margin-bottom: 10px;
    font-size: 150%;
    font-weight: bold;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2em;
    margin-top: -1em;
    margin-left: -3em;
    text-align: center;
}

#preview {
    clear: both;
    width: 100%;
    margin-bottom: 50px;
}

img {
    float: left;
    width: 200px;
    opacity: 0.5;
    margin: 0 10 30 0;
}

.checked {
    float: left;
    width: 200px;
    margin: 0 10 30 0;
    opacity: 1;
}

.visualize {
    clear: both;
    margin-bottom: 30px;
}

h2:hover {
    color: #103F7D;
}

input {
    display: block;
}

.startbtn {
    width: 100px;
    height: 30px;
    margin: 20 0 30 0;
    background: #707980;
    color: white;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 15px;
}

.startbtn.on {
    width: 100px;
    height: 30px;
    margin: 20 0 30 0;
    background: #294C7D;
    color: white;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 15px;
}

canvas {
    background-color: #292825;
}