<html>
    <head>
        <title>RECONSTRUCT</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body onLoad="onLoad();">
        <div class="preloader"><img id='preloader' src='/static/img/preloader.gif'></div>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="{{url_for("index")}}">RECONSTRUCT</a></li>
                        <li><a href="{{url_for("register")}}">Register</a></li>
                        <li><a href="{{url_for("login")}}">Login</a></li>
                        <li><a href="{{url_for("logout")}}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <p>
            <br>
            {% block body %}
            {% endblock %}
            <br>
            </p>
        </div>
        <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/three.min.js"></script>
        <script type="text/javascript" src="/static/js/Detector.js"></script>
        <script type="text/javascript" src="/static/js/OrbitControls.js"></script>
        <script type="text/javascript" src="/static/js/viewer.js"></script>
        <script type="text/javascript" src="/static/js/upload.js"></script>
    </body>
</html>