{% extends 'base.html' %}
{% block body %}

    <h2>My point clouds</h2>
    <div data-user-id='{{user_id}}' id='clouds'></div>
    {% for cloud in clouds %}
        <div data-cloud-id='{{cloud.id}}' class='cloud'>
            <br class='cloud-info'>Name: {{cloud.name}}
            <br class='cloud-info'>Created on: {{cloud.created_on}}
        </div>
    {% endfor %}
    <br>

    <div>
        <h2>Upload photos</h2>
        <br>
        <div class='dropbox'>
            <div class='text'>Drag images here</div>
        </div>
        <br>

        <h2>Select photos</h2>
        <div id='preview'></div>
    </div>
    <br>

    {% if username %}
        <h2 class='visualize'>My point cloud</h2>
    {% else %}
        <h2 class='visualize'>Visualize point cloud</h2>
    {% endif %}
    
    <div id='viewer'></div>

{% endblock %}