{% extends 'base.html' %}
{% block body %}

    <h2 class='point_clouds'>My point clouds</h2>
    <div data-user-id='{{user_id}}' id='clouds'></div>

    <br>

    <div>
        <h2>Upload photos</h2>
        <br>
        <div class='dropbox'>
            <div class='text'>Drag images here</div>
        </div>
        <br>

        <h2>Select photos</h2>
        <div id='preview'></div>
    </div>
    <br>

    {% if username %}
        <h2 class='visualize'>My point cloud</h2>
    {% else %}
        <h2 class='visualize'>Visualize point cloud</h2>
    {% endif %}
    
    <div id='viewer'></div>
    <div id='download'></div>

{% endblock %}